name: all
# 授予工作流写入仓库内容的权限
permissions:
  contents: write
on:
   #push:
     #paths:
      #- 'gengxinip.py'
   schedule:
        - cron: '12 1,4,7,10,13,23 * * *'
   workflow_dispatch:
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # 升级到最新版，更稳定

      - name: Set up Python
        uses: actions/setup-python@v5  # 升级到最新版
        with:
          python-version: 3.x
          
      - name: Install dependencies
        run: pip install requests zhconv
        
      ##- name: Run all
      ##  run: python ${{ github.workspace }}/all.py 
      - name: Run 108
        run: python ${{ github.workspace }}/108.py
      ##- name: Run mytv
        ##run: python ${{ github.workspace }}/mytvsp.py
     
      - name: Commit results
        run: |
          git config --local user.email "jaccong@163.com"
          git config --local user.name "jaccong"
          if [ -n "$(git status --porcelain)" ]; then
            git add *.txt
            git commit -m "Automatic update"
            git push
          else
            echo "No changes detected, skipping commit."
          fi
